/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 
    Author     : 
*/

[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}


.equipe {
    background-color: #ffffc8;
    padding-right: 15px;
    padding-left: 15px;
}

.fa-heart:before {
    content: "\f004";
}